# Quarto
/.quarto/
/_site/
**/*.quarto_ipynb
*_files/
*_cache/

# Python / R
__pycache__/
.ipynb_checkpoints/
.Rproj.user/
.Rhistory
.RData
.venv/
venv/

# Environment / secrets
.env
.env.*

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
